<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/public/css/reset-password.css">
</head>

<body>

    <div class="container">

        <div class="reset-password" id="reset-password">

            <div class="unique-id">
                <label for="unique-id">Unique id</label> <br>
                <input type="text" name="unique-id" id="unique-id" placeholder="unique id">
            </div>

            <div class="new-password">
                <label for="new-password">New Password</label> <br>
                <input type="password" id="new-password" name="password" placeholder="new password">
            </div>

            <div class="conform-password">
                <label for="conform-password">Conform Password</label> <br>
                <p id="msg">*Enter same password as above</p>
                <input type="password" id="conform-password" name="conform-password" placeholder="conform password">
            </div>

            <div class="submit-box">
                <button id="submit">Submit</button>
            </div>
        </div>

        <div class="result-msg" id="result-msg">
            <p id="result-msg-para"></p>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/public/js/reset-password.js"></script>
</body>

</html>