* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightpink;
    font-size: 25px;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.forgot-password-div {
    background-color: lightgreen;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .4);
}

.gmail-input input {

    width: 100%;
    font-size: 20px;
    padding: 2px 3px;
    margin: 5px 0px;
}

.submit-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.submit-btn-div button {
    font-size: 20px;
    padding: 5px 15px;
}

.result-box {
    display: none;

    width: 500px;
    background-color: lightgreen;
    font-size: 25px;
    padding: 20px;
}