* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: lightpink;
    font-size: 25px;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password {
    width: 500px;
    background-color: lightgreen;
    padding: 20px;
}

.reset-password input {
    width: 100%;
    font-size: 20px;
    padding: 2px 3px;
    margin-bottom: 10px;
}

.submit-box {
    display: flex;
    justify-content: center;
}

.submit-box button {
    font-size: 20px;
    padding: 5px 15px;
}

#msg {
    font-size: 15px;
    color: red;
    display: none;
}

.error {
    background-color: rgb(244, 196, 196);
    border: 1px solid red;
}

.result-msg {
    display: none;
    width: 500px;
    background-color: lightgreen;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
}